<!DOCTYPE html>
<html lang="en" data-theme="corporate">
  <head>
    <title>Page Not Found</title>
  </head>
  <body class="min-h-screen bg-base-100 text-base-content">
    <link rel="stylesheet" href="/css/main.css" />
    <%- include('partials/navbar') %>
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">404</h1>
          <p class="py-6">Unable to find requested project</p>
        </div>
      </div>
    </div>
  </body>
</html>
