<!DOCTYPE html>
<html lang="en" data-theme="corporate">
  <head>
    <title>About Me</title>
  </head>
  <body class="min-h-screen bg-base-100 text-base-content">
    <link rel="stylesheet" href="/css/main.css" />
    <%- include('partials/navbar') %>
    <div class="container mx-auto">
      <!--hero-->
      <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">All about me:</p>
          </div>
        </div>
      </div>

      <!-- 2 Column Grid -->
      <div class="grid grid-cols-2 gap-4">
        <div class="border-2">
          <h2 class="text-2xl font-semibold mb-4">I'm Irfan Farid</h2>
          <p class="mb-4">I'm a student at Seneca's CPA program</p>
        </div>
        <div class="border-2">
          <img
            class="w-full"
            src="https://preview.redd.it/the-original-image-of-the-monkey-thinking-meme-v0-ea1hkdjnx9af1.jpeg?width=1080&crop=smart&auto=webp&s=5fb2b05369bfbffd94d6009a679a9a5fe5e4223f"
            alt="Farmland Restoration"
          />
        </div>
      </div>
    </div>
  </body>
</html>
